@page
@model ProiectMedii.Pages.Accomodations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cazari</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Accomodation.Name" class="control-label"></label>
                <input asp-for="Accomodation.Name" class="form-control" />
                <span asp-validation-for="Accomodation.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accomodation.RatersCount" class="control-label"></label>
                <input asp-for="Accomodation.RatersCount" class="form-control" />
                <span asp-validation-for="Accomodation.RatersCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accomodation.Rating" class="control-label"></label>
                <input asp-for="Accomodation.Rating" class="form-control" />
                <span asp-validation-for="Accomodation.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accomodation.Address" class="control-label"></label>
                <input asp-for="Accomodation.Address" class="form-control" />
                <span asp-validation-for="Accomodation.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accomodation.CategoryID" class="control-label">Categoria Cazarii</label>
                <select asp-for="Accomodation.CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
